<div class="row-layout group">
  <button igxButton="raised" igxRipple class="button">
    TEXT
  </button>
  <button igxButton="outlined" igxRipple class="button">
    TEXT
  </button>
  <button igxButton="flat" igxRipple class="button">
    TEXT
  </button>
</div>
<div class="row-layout group">
  <button igxButton="raised" igxRipple class="button">
    Button Text
  </button>
  <button igxButton="outlined" igxRipple class="button">
    <igx-icon>
      add
    </igx-icon>
    <span>Button Text</span>
  </button>
  <button igxButton="flat" igxRipple class="button">
    Button Text
  </button>
</div>
