<igx-navbar class="navbar">
  <igx-navbar-action>
    <button igxButton="icon" igxRipple [igxToggleAction]="navDrawer">
      <igx-icon>
        menu
      </igx-icon>
    </button>
  </igx-navbar-action>
  <button igxButton="icon" igxRipple>
    <igx-icon>
      search
    </igx-icon>
  </button>
  <button igxButton="icon" igxRipple>
    <igx-icon>
      favorite
    </igx-icon>
  </button>
  <button igxButton="icon" igxRipple>
    <igx-icon>
      more_vert
    </igx-icon>
  </button>
  <igx-navbar-title>
    Screen Title
  </igx-navbar-title>
</igx-navbar>
<div class="row-layout group">
  <div class="view-container">
    <router-outlet></router-outlet>
  </div>
  <igx-nav-drawer position="right" [pin]="true" [pinThreshold]="800" width="320px" #navDrawer class="nav-drawer">
    <ng-template igxDrawer>
      <div igxDrawerItem igxRipple routerLink="/movie-app">
        <igx-icon class="icon">
          bug_report
        </igx-icon>
        <span>Movie App</span>
      </div>
      <div igxDrawerItem igxRipple routerLink="/testing-components">
        <igx-icon class="icon">
          bug_report
        </igx-icon>
        <span>Testing Components</span>
      </div>
    </ng-template>
  </igx-nav-drawer>
</div>
