<div class="column-layout group">
  <div class="column-layout logo">
    <img src="/assets/skillz-logo.svg" class="image" />
    <img src="/assets/skillz-logo-text.svg" class="image_1" />
  </div>
  <div class="column-layout group_1">
    <button igxButton="icon" igxRipple class="button">
      <igx-icon>
        dashboard
      </igx-icon>
    </button>
    <p class="ig-typography__overline text">
      Main
    </p>
  </div>
  <div class="column-layout group_1">
    <button igxButton="icon" igxRipple class="button">
      <igx-icon>
        school
      </igx-icon>
    </button>
    <p class="ig-typography__overline text">
      Courses
    </p>
  </div>
  <div class="column-layout group_1">
    <button igxButton="icon" igxRipple class="button">
      <igx-icon>
        assignment_turned_in
      </igx-icon>
    </button>
    <p class="ig-typography__overline text">
      Tasks
    </p>
  </div>
  <div class="column-layout group_1">
    <button igxButton="icon" igxRipple class="button">
      <igx-icon>
        assessment
      </igx-icon>
    </button>
    <p class="ig-typography__overline text">
      Progress
    </p>
  </div>
  <div class="column-layout group_1">
    <button igxButton="icon" igxRipple class="button">
      <igx-icon>
        person
      </igx-icon>
    </button>
    <p class="ig-typography__overline text">
      Profile
    </p>
  </div>
</div>
<div class="column-layout group">
  <div class="column-layout logo">
    <img src="/assets/skillz-logo.svg" class="image_2" />
    <img src="/assets/skillz-logo-text.svg" class="image_1" />
  </div>
  <div class="column-layout group_1">
    <button igxButton="icon" igxRipple class="button">
      <igx-icon>
        dashboard
      </igx-icon>
    </button>
    <p class="ig-typography__overline text">
      Main
    </p>
  </div>
  <div class="column-layout group_1">
    <button igxButton="icon" igxRipple class="button">
      <igx-icon>
        school
      </igx-icon>
    </button>
    <p class="ig-typography__overline text">
      Courses
    </p>
  </div>
  <div class="column-layout group_1">
    <button igxButton="icon" igxRipple class="button">
      <igx-icon>
        assignment_turned_in
      </igx-icon>
    </button>
    <p class="ig-typography__overline text">
      Tasks
    </p>
  </div>
  <div class="column-layout group_1">
    <button igxButton="icon" igxRipple class="button">
      <igx-icon>
        assessment
      </igx-icon>
    </button>
    <p class="ig-typography__overline text">
      Progress
    </p>
  </div>
  <div class="column-layout group_1">
    <button igxButton="icon" igxRipple class="button">
      <igx-icon>
        person
      </igx-icon>
    </button>
    <p class="ig-typography__overline text">
      Profile
    </p>
  </div>
</div>
<div class="column-layout group_2">
  <igx-list class="list">
    <igx-list-item [isHeader]="false">
      <span igxListThumbnail>
        <igx-avatar src="/assets/Avatar13.png" size="medium" [roundShape]="true" class="avatar"></igx-avatar>
      </span>
      <span igxListLineTitle>Jane Doe</span>
      <span igxListLineSubTitle>Sales Manager</span>
      <span igxListAction>
        <igx-icon class="icon">
          keyboard_arrow_down
        </igx-icon>
      </span>
    </igx-list-item>
    <igx-list-item [isHeader]="false">
      <span igxListThumbnail>
        <igx-avatar src="/assets/Store_Icon_Small.svg" class="avatar_1"></igx-avatar>
      </span>
      <span igxListLineTitle>Dashboard</span>
    </igx-list-item>
    <igx-list-item [isHeader]="false">
      <span igxListThumbnail>
        <igx-avatar src="/assets/Inventory_Icon_Small.svg" class="avatar_1"></igx-avatar>
      </span>
      <span igxListLineTitle>Products</span>
    </igx-list-item>
    <igx-list-item [isHeader]="false">
      <span igxListThumbnail>
        <igx-avatar src="/assets/Orders_Icon_Small.svg" class="avatar_1"></igx-avatar>
      </span>
      <span igxListLineTitle>Orders</span>
    </igx-list-item>
    <igx-list-item [isHeader]="false">
      <span igxListThumbnail>
        <igx-avatar src="/assets/Customers_Icon_Small.svg" class="avatar_1"></igx-avatar>
      </span>
      <span igxListLineTitle>Customers</span>
    </igx-list-item>
    <igx-list-item [isHeader]="false">
      <span igxListThumbnail>
        <igx-avatar src="/assets/Reports_Icon_Small.svg" class="avatar_1"></igx-avatar>
      </span>
      <span igxListLineTitle>Reports</span>
    </igx-list-item>
  </igx-list>
  <div class="column-layout group_3">
    <img src="/assets/invmgmt_logo.svg" class="image_3" />
  </div>
</div>
<div class="column-layout group_2">
  <igx-list class="list">
    <igx-list-item [isHeader]="false">
      <span igxListThumbnail>
        <igx-avatar src="/assets/Avatar13.png" size="medium" [roundShape]="true" class="avatar"></igx-avatar>
      </span>
      <span igxListLineTitle>Jane Doe</span>
      <span igxListLineSubTitle>Sales Manager</span>
      <span igxListAction>
        <igx-icon class="icon">
          keyboard_arrow_down
        </igx-icon>
      </span>
    </igx-list-item>
    <igx-list-item [isHeader]="false">
      <span igxListThumbnail>
        <igx-avatar src="/assets/Store_Icon_Small.svg" class="avatar_1"></igx-avatar>
      </span>
      <span igxListLineTitle>Dashboard</span>
    </igx-list-item>
    <igx-list-item [isHeader]="false">
      <span igxListThumbnail>
        <igx-avatar src="/assets/Inventory_Icon_Small.svg" class="avatar_1"></igx-avatar>
      </span>
      <span igxListLineTitle>Products</span>
    </igx-list-item>
    <igx-list-item [isHeader]="false">
      <span igxListThumbnail>
        <igx-avatar src="/assets/Orders_Icon_Small.svg" class="avatar_1"></igx-avatar>
      </span>
      <span igxListLineTitle>Orders</span>
    </igx-list-item>
    <igx-list-item [isHeader]="false">
      <span igxListThumbnail>
        <igx-avatar src="/assets/Customers_Icon_Small.svg" class="avatar_1"></igx-avatar>
      </span>
      <span igxListLineTitle>Customers</span>
    </igx-list-item>
    <igx-list-item [isHeader]="false">
      <span igxListThumbnail>
        <igx-avatar src="/assets/Reports_Icon_Small.svg" class="avatar_1"></igx-avatar>
      </span>
      <span igxListLineTitle>Reports</span>
    </igx-list-item>
  </igx-list>
  <div class="column-layout group_3">
    <img src="/assets/invmgmt_logo.svg" class="image_4" />
  </div>
</div>
